#bar {
   margin: 0px; /* affects top/bottom & left/right alignment */
}

button, image {
    background: none;
    border-style: dotted;
    box-shadow: none;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

button:focus {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 2px;
}

